executor {
    name = 'slurm'
    queueSize = 100
}
singularityOptions()
process {
    clusterOptions = "--mail-type=NONE --time=${params.max_time} -A ${params.hpcproject}"
    withName: low_res{
        memory = 1.GB
        cpus = 1
    }
    withName: mid_res{
        memory = 4.GB
        cpus = 4
    }

    withName: bam2bed{
        memory = 2.GB
        cpus = 2
    }
    withName: extractChromosomes{
        memory = 2.GB
        cpus = 4
    }
}
